<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="input.css" />
    <title>祝日マスタ管理</title>
  </head>
  <body>
    <div class="head_content">
      <h2>祝日マスタ管理</h2>
    </div>

    <div class="input_area">
      <div class="input_date">
        <p>祝日　日付</p>
        <input type="date" name="holiday" />
      </div>

      <div class="input_text">
        <p>祝日　テキスト</p>
        <input type="text" name="holiday_text" />
      </div>
    </div>

    <div class="submit_area">
      <button class="submit_buttom blue">新規登録・更新</button>
      <button class="submit_buttom red">削除</button>
    </div>
    <button class="submit_buttom gray">一覧出力</button>
  </body>
</html>
