{% extends "layout.html" %}
{% block body %}
<form action="{{url_for('update_todo')}}" method="post">
    <div class="form-group">
        <label for="InputTodoName">やること</label>
        <input 
            type="text"
            name="todo_name"
            id="InputTodoName"
            class="form-control">
    </div>
    <div class="form-group">
        <label for="InputTodoDate">期日</label>
        <input 
            type="date"
            name="todo_date"
            id="InputTodoDate"
            class="form-control">
    </div>
    <div class="form-group">
        <label for="InputTodoText">備考</label>
        <input 
            type="text"
            name="todo_text"
            id="InputTodoText"
            class="form-control">
    </div>
    <button
        type="submit" 
        class="btn btn-primary"
        name="button"
        value="add">
        追加
    </button>
</form>
<br>
<form action="{{url_for('show_todo')}}" method="post">
    <button
        type="submit"
        class="btn btn-secondary"
        name="button"
        value="show">
        一覧出力
    </button>
</form>
{% endblock %}